/*Modal Dialog Styling*/
	/* The Modal (background) */
	.modal {
		display: none; /* Hidden by default */
		position: fixed;  /* Stay in place */
		z-index: 1; /* Sit on top */
		padding-top: 50px;  /*Location of the box */
		padding-left: 80px;
		left: 0px;
		top: 0;
		width: 100%; /* Full width */
		height: 100%; /* Full height */
		overflow: auto; /* Enable scroll if needed */
		background-color: rgb(0,0,0); /* Fallback color */
		background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	}
	
	/* Modal Content */
	.modal-content {
		position: relative;
		background-color: #fefefe;
		margin: auto;
		margin-bottom:50px;
		padding: 0;
		border: 1px solid #888;
		width: 80%;
		box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
		-webkit-animation-name: animatetop;
		-webkit-animation-duration: 0.4s;
		animation-name: animatetop;
		animation-duration: 0.4s
	}
	
	#popup_camps_background
	{
		display: none; /* Hidden by default */
		position: fixed;  /* Stay in place */
		z-index: 1; /* Sit on top */
		padding-top: 50px;  /*Location of the box */
		padding-left: 80px;
		left: 0px;
		top: 0;
		width: 100%; /* Full width */
		height: 100%; /* Full height */
		overflow: auto; /* Enable scroll if needed */
		background-color: rgb(0,0,0); /* Fallback color */
		background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	}
	#popup_camps
	{
		position: relative;
		background-color: #fefefe;
		margin: auto;
		margin-bottom:50px;
		padding: 0;
		border: 1px solid #888;
		width: 40%;
		box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
		-webkit-animation-name: animatetop;
		-webkit-animation-duration: 0.4s;
		animation-name: animatetop;
		animation-duration: 0.4s;
		padding:15px;
		border:4px solid green;
		border-radius:40px;
		text-align:center;
	}
	
	/* Add Animation */
	@-webkit-keyframes animatetop {
		from {top:-300px; opacity:0} 
		to {top:0; opacity:1}
	}
	
	@keyframes animatetop {
		from {top:-300px; opacity:0}
		to {top:0; opacity:1}
	}
	
	/* The Close Button */
	.close {
		color: white;
		float: right;
		font-size: 28px;
		font-weight: bold;
	}
	
	.close:hover,
	.close:focus {
		color: #000;
		text-decoration: none;
		cursor: pointer;
	}
	
	.modal-header {
		padding: 2px 16px;
		background-color: #5cb85c;
		color: white;
	}
	
	.modal-body {padding: 2px 16px 50px;}
	
	.modal-footer {
		padding: 2px 16px 20px;
		background-color: #5cb85c;
	}
	.info
	{
		margin-right:25px;
		text-align:center;
		font-size:medium;
	}
	/*TODO: Consolidate theme into 1 css file
	BODY:Possibly transfer this into somekind of main style stylesheet that I always call for styling on every page.*/
	/*Save button*/
	.big_button {
    background-color: #6699ff;
    color: white;
    cursor: pointer;
    padding: 18px;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
	margin:2px;
	}
	
	.big_button:hover
	{
		background-color: #8caef3;
	}
	.name_label 
	{
	  display: inline-block;
	  width: 80px;
	  text-align: right;
	  padding-right:5px;
	}
	.checkbox_header
	{
		display:inline;
	}
	fieldset
	{
	  margin-left: 2px;
	  margin-right: 4px;
	  padding-top: 0.35em;
	  padding-bottom: 0.625em;
	  padding-left: 0.75em;
	  padding-right: 0.75em;
	  border: 2px groove grey;
	}
	select
	{
		/*This makes the selects level with inputs*/
		margin-top:-2px;
	}